


/* Meniu */

body {
    background-color: tan;
    font-family: sans-serif;
    margin-left: 10%;
}

h2, h3 {
    font-family: serif;
}

.produse{
  color: chocolate;
  font-style: italic;
}

#ceai{
  color: rgb(208,240,192);
  font-style: italic;
  clear: both;
}

.div_ceai p{
  color:green;
  font-size: 15px;
  font-weight: bold;
}

.cafea p {
    font-weight: bold;
    font-size: 15px;
    color: 	#38220f;
}

.nav_menu{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    border-left: white;
    border-left-style: groove;
    border-left-width: thick;
    margin-right: 2%;
    padding-left: 1%;
    box-sizing: border-box;
}

a.nav_menu {
  color: white;
  text-decoration: none;
}

a.nav_menu:visited{
  color: white;
}

a.nav_menu:hover{
    text-decoration:underline;
    background-color: chocolate;
}

#ticket{
  position: fixed;
  top: 100px;
  right:100px;
  height: 200px;
  width:290;
}

#ticket img {
  height: 200px;
  width: 200px;
}

#divine_exp{
/*  float:right;*/
  margin-left: auto;
  margin-right: auto;
}

/* Our Guarantee */

.guarantee_paragraph {
    border-color: white;
    border-width: 2px;
    border-style: dashed;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 1.6em;
    padding: 3px;
    padding-left: 80px;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
    color: green;
    box-sizing: border-box;
}

/* Starbuzz Dj Page */

.piano {
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}

.songs li{
  font-style: italic;
}

.songs span{
  font-weight: bold;
  font-style: normal;
}

/* Curs 4 Exercitiul 1 */

#header {
  background-color:#6a3005;
  position:relative;
  border-style: solid;
  border-color:	#c4923e;
  border-width: 5px;
  height: 120px;

}
#logo{
position:absolute;
left: 0px;
}
#slogan{
  position:absolute;
  right: 0px;
}

#exercitiu1{
  height: 50px;
}
.nav_bar{
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.sectiuni{
  border-style: solid;
  border-color:	#c4923e;
  border-width: 5px;
  background-color: #ECD3BF;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
}

#sectiunea_1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  height: 700px;
}


#sectiunea_2{
  float:left;
  width: 15%;
  display: inline-block;
  height: 700px;

}

#sectiunea_3{
  float: right;
  width: 15%;
  display: inline-block;
  height: 700px;
}

.bag{
  margin-left: auto;
  margin-right: auto;

}

#footer{
  clear: both;
  background-color:#6a3005;
  color: white;
}
/*Cusrs 4 - Exercitiul 2  - Tabele */

#employees {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#employees td, #employees th {
/*  border: 1px solid #ddd;*/
  padding: 8px;
}

#employees tr:nth-child(even){background-color: #f2f2f2;}
#employees tr:nth-child(odd){background-color: white;}

#employees th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}

#produse{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#produse td, #produse th {
  padding: 8px;
}

#produse tr:nth-child(even){background-color: #f2f2f2;}
#produse tr:nth-child(odd){background-color: white;}

#produse th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color:white;
}

#users{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#users td, #users th {
  padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}
#users tr:nth-child(odd){background-color: white;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color:white;
}

/*Formular de comanda */

input{
  display:block;
}
